* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.all-maket {
    background: #bfb7b7;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(116, 67, 4, 0.891);
}
.header-container {
    background: #1e2939;;
    text-align: center;
    background-image: url(/mars/img/lapka.jpg);
    color:#f18b04;

}
.left-container {
    background: #f18b04;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.right-conteiner {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.tech-skills {
    margin-left: 40px ;
    margin-right: 40px ;
    margin-top: 55px;
}

.soft-skills {
    margin-left: 40px ;
    margin-right: 40px ;
    margin-top: 55px;
}
.main-info {
    margin-bottom: 65px;
}

